* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6;
  width: 80%;
  margin: 0 auto;
}

.riga {
  margin-top: 30px;
  text-align: center;
}

#title{
  color: white;
  margin-top: 30px;
  margin-left: 40px;
  text-align: center;
  font-size: 60px;
  text-shadow: 1px 1px gray;
  }

.foot {
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 20px;
  text-align: center;
}

[class^="card_"] {
  background-image: url("../img/pattern.png");
  border: 1px solid gray;
  height: 200px;
  width: 175px;
  margin-left: 25px;
  border-radius: 20px;
  display: inline-block;
  background-repeat: repeat;
  background-size: contain;
  cursor: pointer;
  }

.card_ {

}

p {
  font-family: 'Fredoka One', cursive;
}
